.Page5{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Page5-maintitle{
    height: 50vmin;
    width: 50vmin;
    font-size: 11vmin;
    font-weight: bold;
    color: #0B7442;
    margin: 2vmin;
    margin-right: 15vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page5-title{
    font-size: 3.5vmin;
    font-weight: bold;
    color: black;
    margin: 2vmin;
    height: 60vmin;
    width: 90vmin;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}
.Page5-content{
    font-size: 2.2vmin;
    font-weight: normal;
    color: darkslategrey;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}
