.App {
  text-align: center;
}
.App-header {
  background-color: #fff;
  min-height: 400vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.App-nav{
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation-name: Nav-anim;
  animation-duration: 2s;
  z-index: 1;
}
@keyframes Nav-anim {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
.App-logo{
  height: 7vmin;
  margin: 2vmin;
}
.Contact-button{
  height: 3vmin;
  width: 14vmin;
  padding: 1vmin;
  margin: 2vmin;
  border-radius: 0.5vmin;
  border-width: 0.2vmin;
  border-style: solid;
  border-color: #0B7442;
  background-color: #0B7442;
  font-size: 1.8vmin;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.Contact-button:hover{
  background-color: #fff;
  border-color: #0B7442;
  color: #0B7442;
}
